footer{
    display: flex;
    justify-content: space-between;
    padding: 3px 0;
    background-color: var(--footer-bg);
    font-size: 12px;
    border-top: 1px solid var(--border-color);
}
footer a {
    text-decoration: none;
    color: #fff;
    margin-left: 10px;
}

footer div {
    display: flex;
}

footer div p{
    margin-right: 10px;
}