
.aside__section-folder{
  position: relative;
  display: flex;
  flex-direction: column;
}

.aside__folder-header{
  display: flex;
  align-items: center;
  width: 100%;
  height: 20px;
  background-color: var(--folder-bg);
}
.aside__folder-header:hover{
  background-color: var(--file-hover-bg);
}

.aside__folder-header svg {
  margin: 0 5px;
  transition: all 500ms;
}
.aside__folder-header.open svg:first-child {
  transform: rotate(90deg);
}

.aside__folder-header h3 {
  font-size: 11px;
  font-weight: 500;
}

.aside__folder-scope{
  position: absolute;
  top: 20px;
  width: 1px;
  height: calc(100% - 20px);
  margin-left: 10px;
  background-color: var(--folder-scope-bg);
}
.aside__folder-file{
  display: flex;
  align-items: center;
  height: 20px;
  padding-left: 20px;
  background-color: transparent;
  font-size: 12px;
}
.aside__folder-file:hover{
  background-color: var(--file-hover-bg);
}
.aside__folder-file.active{
  background-color: var(--file-active-bg);
}
.aside__folder-file svg{
  margin-right: 10px;
}