aside{
    display: flex;
    width: 250px;
    background-color: var();
}
.aside__social{
    display: flex;
    flex-direction: column;    
    padding: 0 10px;
    background-color: var(--aside-social-bg);
    border-right: 1px solid var(--border-color);
}

.aside__social svg{
    margin-top: 25px;
}
.aside__explorer-ctn{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    border-right: 1px solid var(--border-color);
    background-color: var(--files-bg);
}

.aside__explorer-header{
    padding: 8px 15px;
    cursor: pointer;
}
.aside__explorer-header h2{
    font-size: 14px;
    font-weight: 500;

}

.aside__section{
    flex-grow: 1;
    overflow: hidden;
    -webkit-transition: all 2s ease-in-out;
    transition: all 500ms ease-out;
}


.aside__section-header{
    display: flex;
    align-items: center;
    width: 100%;
    padding: 5px 0;
    background-color: var(--files-header-bg);
}

.aside__section-header.open svg{
    transform: rotate(90deg);
}

.aside__section-header svg{
    margin: 0 5px;
    transition: all 500ms;
}
.aside__section-header h2{
    font-size: 11px;
    font-weight: 600;
}

.aside__files-ctn{
    height: 0;
    transition: all 500ms linear;
    overflow: auto;
}
.aside__files-ctn.open{
    height: calc(100% - 22px);

}
