aside{
    display: flex;
    width: 200px;
    background-color: var();
}
.aside__social{
    display: flex;
    flex-direction: column;    
    padding: 0 10px;
    background-color: var(--aside-social-bg);
    border-right: 1px solid var(--border-color);
}

.aside__social svg{
    margin-top: 25px;
}
.aside__explorer-ctn{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border-right: 1px solid var(--border-color);
    background-color: var(--files-bg);
}

.aside__explorer-header{
    padding: 8px 15px;
    cursor: pointer;
}
.aside__explorer-header h2{
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;

}

.aside__section{
    height: 100%;
}

.aside__section-header{
    display: flex;
    align-items: center;
    width: 100%;
    padding: 5px 0;
    background-color: var(--files-header-bg);
}

.aside__section.open .aside__section-header svg{
    transform: rotate(90deg);
}

.aside__section-header svg{
    margin: 0 5px;
    transition: all 500ms;
}
.aside__section-header h2{
    font-size: 12px;
    font-weight: 600;
}

.aside__section-folder{
    position: relative;
    display: flex;
    flex-direction: column;
}

.aside__folder-header{
    display: flex;
    align-items: center;
    width: 100%;
    height: 20px;
    background-color: transparent;
}

.aside__folder-header svg {
    margin: 0 5px;
    transition: all 500ms;
}
.aside__folder-header.open svg {
    transform: rotate(90deg);
}

.aside__folder-header h3 {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}

.aside__folder-scope{
    position: absolute;
    top: 20px;
    width: 1px;
    height: calc(100% - 20px);
    margin-left: 10px;
    background-color: var(--folder-scope-bg);
}
.aside__folder-file{
    display: flex;
    align-items: center;
    height: 20px;
    padding-left: 20px;
    background-color: transparent;
    font-size: 12px;
}
.aside__folder-file:hover{
    background-color: var(--file-hover-bg);
}
.aside__folder-file.active{
    background-color: var(--file-active-bg);
}
.aside__folder-file svg{
    margin-right: 10px;
}