.presentation-screen__ctn{
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}
.presentation-screen__main{
  display: flex;
  gap: 30px;
  align-items: center;
  min-height: 167px;
}

.presentation-screen__main > div > h2{
  font-size: 30px;
}
.presentation-screen__main > div > p{
  margin-top: 5px;
  font-size: 22px;
}
.presentation-screen__main > img {
  display: inline-block;
  width: 166px;
  border-radius: 50%;
}

.presentation-screen__buttons{
  justify-content: space-evenly;
  display: flex;
  width: 100%;
  max-width: 360px;
  margin-top: 30px;
}

.presentation-screen__mail,
.presentation-screen__cv{
  display: inline-block;
  width: 150px;
  padding: 10px 0;
  text-align: center;
  border-radius: 5px;
  background-color: red;
  text-decoration: none;
  font-weight: 600;
}

.presentation-screen__mail{
  border:1px solid var(--button-primary-color);
  background-color: var(--button-primary-color);
  color: var(--button-secondary-color);
}

.presentation-screen__cv{
  border: 1px solid var(--button-primary-color);
  background-color: var(--button-secondary-color);
  color: var(--button-primary-color);
}



@media only screen and (max-width : 570px) {
  .presentation-screen__main{
    flex-direction: column-reverse;
  }
}