@import url("./styles/styles.css");

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-track {
    background: #888;
}

::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

body{
    height: 100vh;
    max-height: -webkit-fill-available;
}
@font-face{
    font-family: "SegoeUI";
    src: url("./assets/fonts/SegoeUI.ttf");
}
#root,#App{
    height: 100%;
    font-family: "SegoeUI";
}
/* Themes */
#App[theme="dark"] {
    /* GENERAL */
    --text-color:#DDDDDD;
    --border-color:#000000;
    /* HEADER */
    --header-bg:#0f0f0f;
    /* DISPLAY */
    --display-bg:#1f1f1f;
    --button-primary-color:#4361ee;
    --button-secondary-color:#ffffff;
    /* ASIDE */
    --aside-social-bg:#0F0F0F;
    --activity-bar-icons:#888688;
    --activity-bar-icons-hover:#DDDDDD;
    --files-bg:#161616;
    --files-header-bg:#383838;
    --file-hover-bg:#1F1F1F;
    --file-active-bg:#262626;
    --folder-bg:transparent;
    --folder-scope-bg:#585858;
    /* FOOTER */
    --footer-bg: #007acc;

    /* PAGES CONFIG */
    --aboutme-text-color: #ffffff; 
    
}

#App[theme="light"]{
    /* GENERAL */
    --text-color:#727272;
    --border-color:#bbb5b5;
    /* HEADER */
    --header-bg:#DDDDDD;
    /* DISPLAY */
    --display-bg:#FFFFFF;
    --button-primary-color:#4361ee;
    --button-secondary-color:#ffffff;
    /* ASIDE */
    --aside-social-bg:#C3C7CD;
    --activity-bar-icons:#535657;
    --activity-bar-icons-hover:#000000;
    --files-bg:#F3F3F3;
    --files-header-bg:#d7d7d7;
    --file-hover-bg:#DCDCDC;
    --file-active-bg:#C7CBD1;
    --folder-bg:transparent;
    --folder-scope-bg:#a8a8a8;
    /* FOOTER */
    --footer-bg: #007acc;
    
    /* PAGES CONFIG */
    --aboutme-text-color: #727272;
}

#App{
    display: flex;
    flex-direction: column;
    color: var(--text-color);
}

div.main-content{
    flex-grow: 1;
    display: flex;
    overflow: hidden;
}

button{
    border: none;
    color: var(--text-color);
    cursor: pointer;
}

button:focus-visible{
    outline: none;
}

.display-ctn > div {
    animation: fadeIn 2s ;
}

@keyframes fadeIn {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}